<div class="container">
<h3 class=" fa fa-user center-align teal-text"> YOUR PROFILE</h3><br>
<ul class="collection">
  <li class="collection-item avatar">
    <p>Email: <%= user.email %></p>
  </li>
  <li class="collection-item avatar">
    <p>Name: <%= user.username %> </p>
  </li>
  <div class="center-btn">
    <a href="../../user/<%= user._id %>/editUser" class="btn btn-success"></span>EDIT PROFILE</a><br></br>
  </div>
</div>
</ul>
<br>
<h3 class="teal-text center-align">Your Pills</h3>
<div class="container">
  <% user.pills.reverse().forEach(pill => { %>
    <h2><%= pill.title %></h2>
    <p>
    <iframe width="560" height="315" src="<%= pill.link %>?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </p>
    <p>
      <%= pill.description %>
    </p>
    <p>
      <%= pill.category %>
    </p>
    <p>
      <%= pill.language %>
    </p>
    <a href="/pill/<%= pill._id %>/update"><button>Edit Pill</button></a>
    <% }) %>
      </div>
    </div>
    <div class="container">
      <div class="center-btn">
        <a href="../../pill/create" class="btn btn-success"></span>ADD PILL</a><br></br>
      </div>

    </div>
  </div>
