<div class="container">
<h3 class=" fa fa-user center-align teal-text"> YOUR PROFILE</h3><br>
<ul class="collection">
  <li class="collection-item avatar">
    <p>Email: <%= user.email %></p>
  </li>
  <li class="collection-item avatar">
    <p>Name: <%= user.username %> </p>
  </li>
</div>
</ul>
<br>
<h5 class="teal-text center-align">Your Pills</h5>
<div class="container">
    <ul class="collection">
    <% pills.forEach((pill) => { %>
      <li class="collection-item avatar">
        <h4><%= pill.title %></h4>
        <p>Description: <%= pill.description %> </p>
        <p>link: <%= pill.link %></p>
        <p>Comments: <%= pill.comments %></p>
      </li>
      <% }) %>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="center-btn"> 
        <a href="../../pill/create" class="btn btn-success"></span>ADD PILL</a><br></br>
      </div>
      <div class="center-btn">
        <a href="../../user/<%= user._id %>/editUser" class="btn btn-success"></span>EDIT PROFILE</a><br></br>
      </div>
    </div>
  </div>
