<script src='/javascripts/search.js'></script>


<div class="side-menu z-depth-3">
  <h5>Categories</h5>
 <ul class="list">
  <li><a href="#">All</a></li>
  <li><a href="#">AJAX</a></li>
  <li><a href="#">Arrays</a></li>
  <li><a href="#">Async & Callbacks</a></li>
  <li><a href="#">Algorithms</a></li>
  <li><a href="#">Canvas</a></li>
  <li><a href="#">Conditionals & Loops</a></li>
  <li><a href="#">Debugging</a></li>
  <li><a href="#">DOM</a></li>
  <li><a href="#">Express</a></li>
  <li><a href="#">Functions</a></li>
  <li><a href="#">JQuery</a></li>
  <li><a href="#">JSON</a></li>
  <li><a href="#">Libraries</a></li>
  <li><a href="#">Methods</a></li>
  <li><a href="#">Mongo</a></li>
  <li><a href="#">Mongoose</a></li>
  <li><a href="#">Node</a></li>
  <li><a href="#">Objects</a></li>
  <li><a href="#">Packages</a></li>
  <li><a href="#">Prototype</a></li>
  <li><a href="#">Passport</a></li>
  <li><a href="#">Testing</a></li>
 </ul>
<h5>Language</h5>
<ul class="list">
 <li><a href="#">Spanish</a></li>
 <li><a href="#">English</a></li>
</div>
</form>
<div class="row video-section">
  <% pills.reverse().forEach(pill => { %>
    <div class="col s12 m9">
        <div class="filter">
          <div class="<%= pill.category %> <%= pill.language %>">
            <p class="video-responsive">
             <iframe width="560" height="315" src="<%= pill.link %>?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </p>
            <h5><%= pill.title %></h5>
            <h6 style="color: grey" ><%= pill.category %> - <%= pill.language %></h6>
            <hr>
            <p>
              <%= pill.description %>
            </p>
            <br><br>
          </div>
        </div>
    </div>
    <% }) %>
  <br><br>
  </div>
